<div class="container">
    <div class="IniSesionForm">
        <h1>Regístrate</h1>
        <form (ngSubmit) = "onSubmit()">
            <input type="text" placeholder="Nombre de usuario" class="inputing" [(ngModel)] = "username" name="username"/><br/><br/>
            <input type="password" placeholder="Contraseña" class="inputing" [(ngModel)] = "password" name="password"/><br/><br/>
            <input type="password" placeholder="Confirmar contraseña" class="inputing" [(ngModel)] = "confirmPassword" name="confirmPassword"/><br/><br/>
            <input type="Submit" value="Registrarse" class="submit"/>
        </form>
        <div>
            <p class="registryOffer">¿Ya tienes cuenta? <a href="/login">Iniciar Sesión</a></p>
        </div>
    </div>
</div>