.container{
    background-color: #0075e9;
    position:absolute;
    left:0;
    right: 0;
    top:0;
    bottom:0;
}

.IniSesionForm{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 5px;
    width: 30%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.65);
}

.IniSesionForm h1{
    color: #0075e9;
    top:0%;
    font-weight: bold;
}

.IniSesionForm form{
    left:0%;
    width:100%;
}

.IniSesionForm input{
    width: 90%;
    height: 35px;
}

.submit{
    border:none;
    background-color: #0075e9;
    border-radius: 2px;
    color:white;
    font-weight: bold;
}

.registryOffer{
    color:black;
}